#hid {
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}
/* #hii {
  margin-right: 690px;
} */
#butto {
  color: white;
  background-color: blue;
  width: 175px;
  margin-left: 435px;
  font-weight: bolder;
}
